.about-blurb {
padding: 20px;
font-size: 22px;
}

.photo-box {
	background-image: url("/images/BryanAboutPage.JPG");
	background-repeat: no-repeat;
	height: 300px;
	width: 33%;
	border: 2px solid grey;
	background-size: 100%;
	margin: 10% 15% 10% 60%;
}
