.home-pic {
	background-image: url("/images/ten.JPG");
	background-repeat: no-repeat;
	height: 600px;
	width: 80%;
	border: 2px solid grey;
	background-size: 100%;
	margin: 0 auto;

}

.home-page-blurb {
	padding: 20px;
}

.index-title {
	padding: 10px;
	text-align: center;
}
