body {
	background-color: #F5F5F5;
	font-family: 'Raleway', sans-serif;

}

ul {
	list-style-type: none;
	display: inline-block;
}

li {
	padding: 5px;
	margin: 10px;
	text-align: right;
}
 a {
 	text-decoration: none;
	display: inline-block;
 }

header {
	color: grey;
}


.nav-bar {
	display: inline-block;
	width: 100%;
	font-size: 22px;
	text-align: right;
	background-color: #c9d8f2;
}

.main-h {
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	flex-grow: 3;
}

.main-title {
	width: 100%;
}

footer {
	width: 100%;
	max-height: 100px;
	text-align: center;
	margin-bottom: 0px;
	color: grey;
}

.main-container {
	background-color: #43597c;
	width: 100%;
	height: 500px;
	color: white;
}

.home-page-blurb {
	padding: 20px;
}

.index-title {
	padding: 10px;
	text-align: center;
}

.bryan-tag {
	text-align: right;
}

.gallery-container {
	display: flex;
	flex-wrap: wrap;
}

.gallery-container div {
	height: 300px;
	width: 300px;
	border: 2px solid grey;
}

.one {
	background-image: url("bryan-pics/one.JPG");
	background-size: 100%;
	height: 300px;
	width: 300px;
}

.about-blurb {
padding: 20px;
font-size: 22px;
}
