<div class="email-box">

	<h1>For more information or to purchase, please email here.</h1>

	<form class="email-form" action="/contact" method="post">
		<input type="text" name="email" placeholder="Enter your Email">
		<input type="text" name="subject" placeholder="Subject Here">
		<textarea class="textarea" type="text" name="text" placeholder="Write your messsage here."></textarea>
  	<input type="submit">
	</form>
</div>
