
<div class="home-pic"></div>

<div class="index-title">
<h2>Live life and love Cape Cod...</h2>
</div>

<div class="home-page-blurb">
<p>For many decades, I have visited the beautiful towns of Cape Cod. I love it here, and I consider myself very fortunate to have spent the happiest moments of my life on these sandy shores. I enjoy sharing with you my favorite places. This site is intended to provide you with glimpses of the communities that make the Cape alive – to enhance your visits to Cape Cod by providing seasonal, natural snapshots in time here. Weather  can sometimes be a real challenge, but makes for gorgeous texture.  In fact even in the dead of winter, there is life buzzing in Provincetown, movement in the sea.</p>

<p>By the time the high summer season rolls around, tourists flock to simplify their lives in sandy coves. You'll see lots of secret places here. Small towns teeming with activity, hidden ponds, paths and beaches that stretch to eternity.  Please enjoy your trip through my photographs, even if you are unable to get here and feel the salt air on your own skin.</p>

<p>I invite you to check back often as my portfolio grows.  I’m hoping you make great memories that last a lifetime during your visit to The Cape.</p>

<p>Welcome to Cape Cod…

Bryan Monzella, Photographer
</p>

</div>


<!-- <p><%= @message %></p> -->
