<head>
<link rel="stylesheet" type="text/css" href="">
</head>

<!-- <h2>This is the home page.</h2> -->

<p><%= @message %></p>

<% @names.each do |name| %>
<li><%= name %></li>
<% end %>
<hr>
<div class='box'>
<!-- <p>This is the first box</p> -->
</box>



