<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>LensCape</title>
		<link rel="stylesheet" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
	</head>
	<body>
		<header>
		<nav class="nav-bar">
			<ul>
				<li>Home</li>
				<li>Gallery</li>
				<li>Contact</li>
				<li>About</li>
			</ul>
		</nav>


		<h1 class="main-h">LensCape: Cape Cod in Pictures</h1>

		<h4>Photography by Bryan Monzella</h4>
	</header>
		
	<div class="main-container"><%= yield %></div>
		
	


		<footer>
			<p>Copyright 2017 Monzella Enterprises</p>
		</footer>
		<script type="text/javascript" src="/js/scripts.js"></script>
	</body>
</html>
